@using BOL;

@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1 class="display-4">Registration Form</h1>
</div>
<div>
    <form action="/Home/Register" method="post">
        <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="text" class="form-control" id="id" name="id">
        </div>
        <div class="mb-3">
            <label for="empname" class="form-label">Employee Name</label>
            <input type="text" class="form-control" id="empname" name="empname">
        </div>
        <div class="mb-3">
            <label for="designation" class="form-label">Designation</label>
            <input type="text" class="form-control" id="designation" name="designation">
        </div>
        <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <input type="text" class="form-control" id="department" name="department">
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city">
        </div>
        <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="text" class="form-control" id="salary" name="salary">
        </div>
        <div class="mb-3">
            <label for="joinDate" class="form-label">Join Date</label>
            <input type="date" class="form-control" id="joinDate" name="joinDate">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>  
    </form>
</div>
